@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap);
@keyframes moveInBottom {
  0% {
    opacity: 0;
    visibiliy: hidden;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0); } }

:root {
  --font: "Inter", sans-serif;
  --color-gray-1: #696969;
  --color-gray-2: #7d7d7d;
  --color-gray-3: #9e9e9e;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #eee;
  --color-blue-dark-1: #012a4a;
  --color-blue-dark-2: #013a63;
  --color-blue-dark-3: #01497c;
  --color-blue-light-1: #61a5c2;
  --color-blue-light-2: #89c2d9;
  --color-blue-light-3: #a9d6e5;
  --color-green-tert-1: #2d6a4f;
  --color-green-tert-2: #40916c;
  --color-green-tert-3: #74c69d;
  --color-contrast-yellow: #ffe66d;
  --color-contrast-orange: #fe7f2d;
  --color-contrast-red: #c81d25; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.4;
  font-family: var(--font);
  font-weight: 400;
  color: var(--color-blue-dark-1);
  overflow-x: hidden;
  font-size: 1.6rem;
  position: relative;
  scroll-behavior: smooth; }

.main-content__title--main {
  font-size: 4.8rem; }

.main-content__title--support {
  font-size: 1.8rem; }

.main-content__title--support-f {
  font-size: 1.8rem;
  color: #fff; }

.autoplay {
  max-width: 40rem;
  color: var(--color-green-tert-2); }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 500; }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600; }

.section__sub-header {
  color: var(--color-green-tert-3);
  text-transform: uppercase; }

.section__main-header {
  color: var(--color-blue-dark-1); }

.p-text {
  font-size: 1.6rem;
  line-height: 1.6; }

.card-header {
  text-transform: uppercase;
  font-weight: 600; }

.mg-btm-lg {
  margin-bottom: 9.6rem !important; }

.mg-btm-med {
  margin-bottom: 4.8rem !important; }

.mg-btm-sm {
  margin-bottom: 2.4rem !important; }

.mg-btm-xsm {
  margin-bottom: 1.2rem !important; }

.mg-top-sm {
  margin-top: 2.4rem !important; }

.mg-top-lg {
  margin-top: 7.2rem !important; }

.mg-left-auto {
  margin-left: auto !important; }

.mg-btm-neg-sm {
  margin-bottom: -2.4rem; }

.pd-top-sm {
  padding-top: 2.4rem; }

.centered {
  text-align: center !important; }

.w-50 {
  max-width: 50vw !important; }

.tl-right {
  text-align: right !important; }

.dp-block {
  display: block !important; }

.vert-center {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.hidden {
  display: none !important; }

.active {
  display: block !important; }

.btn {
  display: inline-block;
  padding: 1.2rem 3.6rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  text-transform: uppercase; }
  .btn--form {
    border: none;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #e3f4eb;
    color: var(--color-green-tert-1);
    transition: all 0.2s; }
    .btn--form:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background-color: #fff;
      transform: translateY(-2px);
      cursor: pointer; }
    .btn--form:active {
      background-color: rgba(238, 238, 238, 0.7);
      box-shadow: none;
      transform: translateY(0); }
  .btn:link, .btn:visited {
    text-decoration: none;
    padding: 1.2rem 3.6rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700; }
  .btn--primary {
    background-color: var(--color-green-tert-2);
    color: #fff;
    transition: all 0.2s; }
    .btn--primary:hover {
      background-color: var(--color-green-tert-3);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      cursor: pointer; }
    .btn--primary:active {
      background-color: var(--color-green-tert-2);
      transform: translateY(0);
      box-shadow: none; }
  .btn--secondary {
    background-color: transparent;
    border: 2px solid var(--color-blue-dark-1);
    color: var(--color-blue-dark-1);
    transition: all 0.2s; }
    .btn--secondary:hover {
      background-color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform: translateY(-2px); }
    .btn--secondary:active {
      background-color: transparent;
      transform: translateY(0);
      box-shadow: none; }
  .btn--white {
    background-color: #fff;
    color: var(--color-blue-dark-1);
    transition: all 0.2s; }
    .btn--white:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      cursor: pointer; }
    .btn--white:active {
      box-shadow: none;
      transform: translateY(0); }
  .btn--next {
    background-color: #c7e8d8;
    color: var(--color-green-tert-1);
    transition: all 0.2s; }
    .btn--next:hover {
      cursor: pointer;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px); }
    .btn--next:active {
      box-shadow: none;
      transform: translateY(0); }
  .btn--book {
    padding: 1.5rem 0;
    background-color: #e3f4eb;
    align-self: flex-end;
    color: var(--color-green-tert-1);
    transition: all 0.2s; }
    .btn--book:hover {
      cursor: pointer;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px); }

.gs__popup--form__step--intro-content__btn {
  position: absolute;
  right: 10rem;
  bottom: 10%; }

.cta-btn-box {
  display: flex;
  justify-content: center;
  gap: 2.4rem; }

.iForm-btn-group {
  display: flex;
  justify-content: space-between; }

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  padding: 2rem;
  background-color: var(--color-blue-dark-1); }
  .contact-header__number, .contact-header__email {
    display: flex;
    align-items: center; }
  .contact-header__icon {
    color: #fff;
    margin-right: 1.2rem;
    font-size: 2rem; }
  .contact-header__contact--link:link, .contact-header__contact--link:visited {
    text-decoration: none;
    color: #fff; }

.footer {
  background-image: linear-gradient(rgba(1, 42, 74, 0.8), rgba(1, 42, 74, 0.8)), url(../Media/alamo.jpg);
  background-size: cover;
  padding: 9.6rem 0;
  margin-top: 4.8rem; }
  .footer__grid {
    max-width: 75vw;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 2.5fr; }
    .footer__grid--grid-box__header {
      color: #fff; }
    .footer__grid--grid-box:nth-child(2) {
      border-right: 2px solid #eee; }
    .footer__grid--grid-box__list {
      list-style: none; }
      .footer__grid--grid-box__list--item {
        color: #fff;
        transition: all 0.2s; }
        .footer__grid--grid-box__list--item:not(:last-child) {
          margin-bottom: 1.2rem; }
        .footer__grid--grid-box__list--item:hover {
          transform: translateX(3px); }
        .footer__grid--grid-box__list--item__link:link, .footer__grid--grid-box__list--item__link:visited {
          color: #fff;
          text-decoration: none; }
        .footer__grid--grid-box__list--item__address--biz {
          display: block;
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 0.8rem; }
        .footer__grid--grid-box__list--item__social-box {
          display: flex;
          margin-top: 2.4rem;
          gap: 2.4rem;
          align-items: center; }
          .footer__grid--grid-box__list--item__social-box__icon {
            color: #fff;
            font-size: 4rem; }
            .footer__grid--grid-box__list--item__social-box__icon:last-child {
              font-size: 6rem; }

.main-form {
  width: 100%; }
  .main-form__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 1.4rem 2.4rem;
    background-color: #e3f4eb;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-green-tert-1); }
    .main-form__input::-webkit-input-placeholder {
      color: var(--color-gray-1);
      font-family: var(--font); }
    .main-form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-bottom: 2px solid var(--color-green-tert-1); }
    .main-form__input:focus:invalid {
      border-bottom: 2px solid var(--color-contrast-red); }
  .main-form__label {
    font-size: 1.4rem;
    color: #fff;
    margin-left: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.3s ease; }
  .main-form__input:placeholder-shown + .main-form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.gs__popup--form {
  width: 100%;
  height: 100%; }
  .gs__popup--form__label {
    display: block;
    color: #fff;
    margin-bottom: 1.2rem; }
  .gs__popup--form__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 1.4rem 2.4rem;
    background-color: #e3f4eb;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-green-tert-1);
    margin-bottom: 3.6rem; }
    .gs__popup--form__input::-webkit-input-placeholder {
      color: var(--color-gray-1);
      font-family: var(--font); }
    .gs__popup--form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      border-bottom: 2px solid var(--color-green-tert-1); }
    .gs__popup--form__input:focus:invalid {
      border-bottom: 2px solid var(--color-contrast-red); }
    .gs__popup--form__input:last-child {
      margin-bottom: 4.8rem; }
  .gs__popup--form__step {
    display: none;
    height: 100%; }
    .gs__popup--form__step--header {
      color: #fff;
      margin-bottom: 4.8rem; }
    .gs__popup--form__step--intro-content {
      width: 100%;
      height: 100%; }
      .gs__popup--form__step--intro-content__video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        display: block; }
    .gs__popup--form__step--1 {
      height: 100%; }
      .gs__popup--form__step--1-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        height: 100%; }
        .gs__popup--form__step--1-content__left {
          background-image: url(../Media/alamo.jpg);
          background-position: center;
          background-size: cover;
          height: 100%; }
        .gs__popup--form__step--1-content__right {
          height: 100%;
          padding: 9.6rem; }
    .gs__popup--form__step--2 {
      height: 100%; }
      .gs__popup--form__step--2-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        height: 100%; }
        .gs__popup--form__step--2-content__left {
          background-image: url(../Media/alamo.jpg);
          background-position: center;
          background-size: cover;
          height: 100%; }
        .gs__popup--form__step--2-content__right {
          height: 100%;
          padding: 9.6rem; }
    .gs__popup--form__step--3 {
      height: 100%; }
      .gs__popup--form__step--3-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        height: 100%; }
        .gs__popup--form__step--3-content__left {
          background-image: url(../Media/alamo.jpg);
          background-position: center;
          background-size: cover;
          height: 100%; }
        .gs__popup--form__step--3-content__right {
          height: 100%;
          padding: 4.8rem 9.6rem; }

.book__popup--form {
  width: 100%; }
  .book__popup--form__form-group {
    width: 100%;
    height: 0%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
    align-items: center; }
  .book__popup--form__input {
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 1.4rem 2.4rem;
    background-color: #e3f4eb;
    font-family: inherit;
    font-size: inherit;
    color: var(--color-green-tert-1);
    margin-bottom: 3.6rem;
    margin-top: 1rem; }
    .book__popup--form__input:last-child {
      margin-bottom: 0; }

.form-subscribe {
  margin: 4.8rem 0 4.8rem 4.8rem;
  border-radius: 4px;
  background-image: radial-gradient(farthest-corner at 2rem 2rem, var(--color-green-tert-1), var(--color-green-tert-3));
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
  padding: 4.8rem;
  color: #fff; }
  .form-subscribe__heading {
    font-size: 2rem; }
  .form-subscribe__form-group--item {
    width: 100%; }
    .form-subscribe__form-group--item > button {
      display: block;
      width: 100%;
      margin-top: 1.2rem; }
    .form-subscribe__form-group--item__input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 4px;
      padding: 1.4rem 2.4rem;
      background-color: #e3f4eb;
      font-family: inherit;
      font-size: inherit;
      color: var(--color-green-tert-1); }
      .form-subscribe__form-group--item__input::-webkit-input-placeholder {
        color: var(--color-gray-1);
        font-family: var(--font); }
      .form-subscribe__form-group--item__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        border-bottom: 2px solid var(--color-green-tert-1); }
      .form-subscribe__form-group--item__input:focus:invalid {
        border-bottom: 2px solid var(--color-contrast-red); }
    .form-subscribe__form-group--item__label {
      font-size: 1.4rem;
      color: #fff;
      margin-left: 2rem;
      margin-top: 1rem;
      display: block;
      transition: all 0.3s ease; }
    .form-subscribe__form-group--item__input:placeholder-shown + .form-subscribe__form-group--item__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }

.main-nav {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 4rem; }
  .main-nav__logo {
    position: absolute;
    top: 4.8rem;
    left: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-nav__logo--link {
      transition: all 0.3s ease-out; }
      .main-nav__logo--link:hover {
        transform: scale(1.05, 1.05); }
    .main-nav__logo--img {
      width: 40rem; }
  .main-nav__list {
    list-style: none;
    display: flex;
    gap: 7.2rem;
    justify-content: flex-end;
    align-items: center; }
    .main-nav__list--item {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      border-bottom: 2px solid transparent;
      transition: all 0.2s; }
      .main-nav__list--item:link, .main-nav__list--item:visited {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 500; }
      .main-nav__list--item:hover {
        border-bottom: 2px solid var(--color-blue-dark-1); }

.get-started__popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-background-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .get-started__popup {
      -webkit-background-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.6); } }
  .get-started__popup--content {
    width: 70%;
    height: 75vh;
    background-image: linear-gradient(to right bottom, var(--color-green-tert-1), var(--color-green-tert-2));
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.5s 0.2s; }
  .get-started__popup:target {
    opacity: 1;
    visibility: visible; }
  .get-started__popup:target .get-started__popup--content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .get-started__popup--exit {
    display: inline-block;
    position: fixed;
    top: 5rem;
    right: 5rem;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s; }
    .get-started__popup--exit__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      padding: 0.8rem 1.2rem;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s; }
      .get-started__popup--exit__btn:link, .get-started__popup--exit__btn:visited {
        text-decoration: none;
        font-size: 2.4rem;
        color: #fff;
        display: inline-block;
        vertical-align: bottom; }
    .get-started__popup--exit:hover {
      transform: translateY(-4px);
      font-size: 2.6rem;
      background-color: rgba(0, 0, 0, 0.65); }

.book__popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-background-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .book__popup {
      -webkit-background-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.6); } }
  .book__popup-content {
    width: 60%;
    background-image: linear-gradient(to right bottom, var(--color-green-tert-1), var(--color-green-tert-2));
    border-radius: 4px;
    position: fixed;
    top: 5rem;
    right: 5rem;
    padding: 9.6rem;
    opacity: 0;
    transform: scale(0.2);
    transition: all 0.5s 0.2s;
    color: #fff; }
  .book__popup:target {
    opacity: 1;
    visibility: visible; }
  .book__popup:target .book__popup-content {
    opacity: 1;
    transform: scale(1); }
  .book__popup--exit {
    display: inline-block;
    position: fixed;
    top: 5rem;
    right: 5rem;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s; }
    .book__popup--exit__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      padding: 0.8rem 1.2rem;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s; }
      .book__popup--exit__btn:link, .book__popup--exit__btn:visited {
        text-decoration: none;
        font-size: 2.4rem;
        color: #fff;
        display: inline-block;
        vertical-align: bottom; }
    .book__popup--exit:hover {
      transform: translateY(-4px);
      font-size: 2.6rem;
      background-color: rgba(0, 0, 0, 0.65); }

.blog__popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-background-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .blog__popup {
      -webkit-background-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.6); } }
  .blog__popup-content {
    width: 75%;
    max-width: 90vw;
    height: 100%;
    max-height: 85vh;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    transition: all 0.5s 0.2s; }
    .blog__popup-content::-webkit-scrollbar {
      width: 1.2rem;
      background-color: transparent; }
      .blog__popup-content::-webkit-scrollbar-track {
        background-color: var(--color-green-tert-1);
        opacity: 0.1;
        border-radius: 1px;
        margin-left: auto; }
      .blog__popup-content::-webkit-scrollbar-thumb {
        background-color: var(--color-green-tert-3);
        border-radius: 2px;
        margin-left: auto; }
    .blog__popup-content__top {
      position: relative;
      height: 70vh;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.25)); }
      .blog__popup-content__top-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden; }
        .blog__popup-content__top-video--vid {
          height: 100%;
          width: 100%;
          object-fit: cover; }
      .blog__popup-content__top-title {
        position: absolute;
        z-index: 10;
        bottom: 0;
        right: 0;
        width: 50%;
        transform: translate(0%, -20%);
        color: #fff;
        padding-right: 3.6rem; }
        .blog__popup-content__top-title--sub-heading {
          color: var(--color-green-tert-3);
          text-transform: uppercase; }
        .blog__popup-content__top-title--text {
          line-height: 1.8; }
    .blog__popup-content__featured {
      background-color: #fff;
      margin: 0 auto;
      padding: 4.8rem 0; }
      .blog__popup-content__featured-grid {
        max-width: 90%;
        margin: 0 auto;
        align-items: stretch; }
        .blog__popup-content__featured-grid__gbox {
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
          transition: all 0.3s ease-out; }
          .blog__popup-content__featured-grid__gbox--link {
            display: block;
            text-decoration: none;
            height: 100%; }
            .blog__popup-content__featured-grid__gbox--link:visited, .blog__popup-content__featured-grid__gbox--link:link {
              color: inherit;
              height: 100%; }
          .blog__popup-content__featured-grid__gbox:hover {
            transform: scale(1.05, 1.05);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
          .blog__popup-content__featured-grid__gbox:active {
            transform: scale(1, 1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25); }
          .blog__popup-content__featured-grid__gbox--image {
            width: 100%;
            height: 20rem; }
            .blog__popup-content__featured-grid__gbox--image__img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .blog__popup-content__featured-grid__gbox--caption {
            padding: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around; }
            .blog__popup-content__featured-grid__gbox--caption--title {
              font-size: 1.8rem; }
            .blog__popup-content__featured-grid__gbox--caption--text {
              font-size: 1.4rem;
              line-height: 1.8; }
  .blog__popup:target {
    opacity: 1;
    visibility: visible; }
  .blog__popup:target .blog__popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .blog__popup--exit {
    display: inline-block;
    position: fixed;
    top: 5rem;
    right: 5rem;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s; }
    .blog__popup--exit__btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6px;
      padding: 0.8rem 1.2rem;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s; }
      .blog__popup--exit__btn:link, .blog__popup--exit__btn:visited {
        text-decoration: none;
        font-size: 2.4rem;
        color: #fff;
        display: inline-block;
        vertical-align: bottom; }
    .blog__popup--exit:hover {
      transform: translateY(-4px);
      font-size: 2.6rem;
      background-color: rgba(0, 0, 0, 0.65); }

.featured-article {
  background-color: #fff;
  padding: 4.8rem;
  overflow-x: hidden; }
  .featured-article__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .featured-article__top-social {
      display: flex;
      align-items: center;
      gap: 2.4rem; }
      .featured-article__top-social--share-count {
        font-size: 2rem;
        color: var(--color-blue-light-1); }
        .featured-article__top-social--share-count-number {
          font-size: 3rem;
          color: var(--color-blue-dark-1); }
      .featured-article__top-social--social-icons {
        display: flex;
        gap: 2rem; }
        .featured-article__top-social--social-icons__link {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          border: 2px solid var(--color-blue-dark-1);
          border-radius: 4px;
          padding: 1rem 2rem;
          font-size: 1.8rem; }
          .featured-article__top-social--social-icons__link--icon {
            font-size: 2.4rem; }
    .featured-article__top-like--hearts {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      border: 2px solid var(--color-blue-dark-1);
      border-radius: 4px;
      padding: 1rem 2rem; }
      .featured-article__top-like--hearts__icon {
        font-size: 2.4rem; }
  .featured-article__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: flex-start; }
    .featured-article__main-content {
      padding-right: 4.8rem; }
      .featured-article__main-content--video {
        width: 100%;
        height: auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25); }
        .featured-article__main-content--video__vid {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 4px; }
      .featured-article__main-content--article {
        border-bottom: 2px solid var(--color-gray-4);
        padding-bottom: 4.8rem; }
        .featured-article__main-content--article__text {
          line-height: 1.8; }
      .featured-article__main-content--support-links__flex {
        display: flex;
        gap: 9.6rem;
        width: 100%; }
      .featured-article__main-content--support-links__article {
        width: 100%; }
        .featured-article__main-content--support-links__article-image {
          border-radius: 4px;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
          width: 100%;
          height: 25rem;
          object-fit: cover;
          background-position: center center; }
        .featured-article__main-content--support-links__article-heading {
          font-size: 1.8rem; }
        .featured-article__main-content--support-links__article-link:link, .featured-article__main-content--support-links__article-link:visited {
          text-decoration: none;
          color: var(--color-blue-light-1); }
        .featured-article__main-content--support-links__article-link__whole {
          text-decoration: none;
          color: var(--color-blue-dark-1); }
    .featured-article__main-support {
      border-left: 2px solid var(--color-gray-4);
      border-top: 2px solid var(--color-gray-4); }
      .featured-article__main-support--related {
        padding: 4.8rem 0 0 4.8rem; }
        .featured-article__main-support--related__heading {
          color: var(--color-blue-light-2); }
      .featured-article__main-support--tags {
        padding: 4.8rem 0 4.8rem 4.8rem;
        border-top: 2px solid var(--color-gray-4);
        border-bottom: 2px solid var(--color-gray-4); }
        .featured-article__main-support--tags__heading {
          color: var(--color-blue-light-2);
          margin-left: 0.5rem; }
        .featured-article__main-support--tags__tag {
          display: inline-block;
          font-size: 2rem;
          border: 2px solid var(--color-blue-light-2);
          padding: 1.2rem 2.4rem;
          border-radius: 4px;
          color: var(--color-blue-light-2);
          font-weight: 600;
          margin: 0.5rem; }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2.4rem; }

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem; }

.section-process__grid-gridbox--title {
  font-size: 2rem; }

.section-about-us-hero__grid {
  max-width: 75vw;
  margin: 15rem auto 9.6rem;
  align-items: center;
  gap: 9.6rem;
  grid-template-rows: none; }
  .section-about-us-hero__grid-title--text {
    line-height: 1.8; }
  .section-about-us-hero__grid-image {
    height: 45vh;
    background-image: url(../Media/fixer-upper-house-bg1.jpg);
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 4px; }

.section-process {
  max-width: 75vw;
  margin: 0 auto; }
  .section-process__grid-gridbox--title {
    position: relative;
    font-size: 2.4rem; }
  .section-process__grid-gridbox--title > span {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0%, -50%);
    font-size: 10rem;
    color: var(--color-green-tert-3);
    opacity: 0.2;
    z-index: -1; }
  .section-process__grid-gridbox--text {
    line-height: 1.8;
    margin-top: 1.8rem; }

.section-benefits {
  padding: 9.6rem 0;
  max-width: 75vw;
  margin: 0 auto; }
  .section-benefits__benefits-list {
    list-style-type: none;
    grid-template-rows: repeat(2, 1fr); }
    .section-benefits__benefits-list--item {
      padding: 2.4rem;
      background-color: rgba(116, 198, 157, 0.3);
      border-radius: 4px; }
      .section-benefits__benefits-list--item__icon {
        font-size: 3rem; }
      .section-benefits__benefits-list--item__title {
        margin-top: 1.6rem;
        font-size: 1.8rem; }
      .section-benefits__benefits-list--item__text {
        line-height: 1.8; }

.section-move {
  width: 100%;
  padding: 4.8rem 0;
  background-image: radial-gradient(farthest-corner at 4rem 4rem, var(--color-blue-dark-1) 0%, var(--color-blue-dark-3) 100%);
  position: relative;
  overflow: hidden; }
  .section-move__content {
    max-width: 75vw;
    margin: 0 auto;
    grid-template-rows: none !important; }
    .section-move__content-text {
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 2.4rem; }
      .section-move__content-text--subheader {
        text-transform: uppercase;
        margin-bottom: -2rem;
        color: var(--color-blue-light-3); }
      .section-move__content-text--text {
        line-height: 1.8; }
    .section-move__content-image {
      position: absolute;
      right: 25rem;
      top: 50%;
      transform: translateY(-50%) scale(1.6); }
      .section-move__content-image--icon {
        font-size: 50rem;
        color: var(--color-blue-light-2); }

.section-service-areas {
  max-width: 75vw;
  margin: 0 auto; }
  .section-service-areas__grid {
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
    position: relative; }
    .section-service-areas__grid-header {
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 2px; }
    .section-service-areas__grid--box {
      height: 30rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-out;
      background-position: center center;
      overflow: hidden; }
      .section-service-areas__grid--box:hover > .section-service-areas__grid-header {
        transition: all 0.3s ease-out;
        transform: scale(1.1); }
      .section-service-areas__grid--box:hover {
        transition: all 0.3s ease-out;
        transform: scale(1.15, 1.15); }
      .section-service-areas__grid--box__bo {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/boerne.jpg);
        background-size: cover; }
      .section-service-areas__grid--box__sa {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/riverwalk.png);
        background-size: cover; }
      .section-service-areas__grid--box__nb {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/new-braunfels.jpg);
        background-size: cover;
        transition: all 0.3s; }
      .section-service-areas__grid--box__sg {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/seguin.jpeg);
        background-size: cover; }
      .section-service-areas__grid--box__sb {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/spring-branch.jpg);
        background-size: cover; }
      .section-service-areas__grid--box__bv {
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.1)), url(../Media/bulverde.jpeg);
        background-size: cover; }

.section-assistance {
  max-width: 75vw;
  margin: 0 auto;
  line-height: 1.8; }

.section-hero {
  position: relative;
  height: 87vh;
  width: 100%;
  background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.95)), url(../Media/san-antonio-skyline.png);
  background-size: cover;
  background-position-y: 20%; }
  .section-hero__about-text {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: space-between;
    align-items: center;
    gap: 9.6rem;
    background-image: radial-gradient(farthest-corner at 5rem 5rem, var(--color-blue-dark-1), var(--color-blue-dark-2));
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 70vw;
    padding: 3.6rem 6rem;
    border-radius: 4px;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8; }
  .section-hero__about-right {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: flex-end;
    column-gap: 2rem;
    row-gap: 2.4rem;
    margin-right: 0; }
    .section-hero__about-right__box {
      display: flex;
      flex-direction: column; }
  .section-hero__about-icon {
    font-size: 4.8rem;
    color: var(--color-blue-light-3); }
  .section-hero__about-title {
    letter-spacing: 1.2px; }

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 9.6rem;
  width: 70vw;
  align-items: center; }
  .main-content__video {
    display: block;
    width: 100%;
    height: 100%; }
    .main-content__video--vid {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
      border-radius: 4px;
      box-shadow: 0 1.5rem 3rem rgba(1, 42, 74, 0.5); }

.section-info {
  margin: 18rem auto 0;
  max-width: 70vw; }
  .section-info__grid {
    column-gap: 9.6rem;
    row-gap: 4.8rem;
    padding: 4.8rem; }
    .section-info__grid--grid-box__content--icon {
      font-size: 6rem;
      color: var(--color-green-tert-2); }
    .section-info__grid--grid-box__content--title {
      font-size: 3.6rem;
      font-weight: 600;
      color: var(--color-green-tert-3); }
    .section-info__grid--grid-box__content--text {
      font-size: 2rem; }

.section-why {
  padding: 9.6rem 0;
  max-width: 75vw;
  margin: 0 auto; }
  .section-why__grid--grid-box {
    background-color: rgba(116, 198, 157, 0.3);
    border-radius: 4px;
    padding: 2.4rem; }
    .section-why__grid--grid-box__header {
      font-size: 2.4rem;
      margin-bottom: 1.2rem; }
    .section-why__grid--grid-box__text {
      font-size: 2rem; }

.section__how-to {
  padding-bottom: 4.8rem;
  max-width: 75vw;
  margin: 0 auto;
  position: relative; }
  .section__how-to__grid--grid-box {
    border-radius: 4px;
    box-shadow: 0 1.5rem 3rem rgba(1, 42, 74, 0.2); }
    .section__how-to__grid--grid-box:last-child {
      background-color: rgba(116, 198, 157, 0.3);
      position: relative; }
    .section__how-to__grid--grid-box__float-text-support {
      position: absolute;
      bottom: -6rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.4;
      width: 90%;
      color: var(--color-gray-1); }
    .section__how-to__grid--grid-box__image {
      width: 100%;
      height: 22rem;
      background-color: #eee;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      overflow: hidden; }
      .section__how-to__grid--grid-box__image--img {
        width: 100%;
        object-fit: cover; }
    .section__how-to__grid--grid-box__title {
      font-size: 2.4rem;
      margin-bottom: 1.2rem; }
    .section__how-to__grid--grid-box__list {
      list-style: none;
      margin: 0 1.8rem 1.2rem; }
      .section__how-to__grid--grid-box__list--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(116, 198, 157, 0.4); }
        .section__how-to__grid--grid-box__list--item:last-child {
          border-bottom: none;
          margin-bottom: 0; }
        .section__how-to__grid--grid-box__list--item-text:not(:last-child) {
          padding: 1rem 0; }
        .section__how-to__grid--grid-box__list--item-text--value {
          font-weight: 600; }

.section-relocation {
  height: 30vh;
  width: 100%;
  background-image: radial-gradient(farthest-corner at 4rem 4rem, var(--color-blue-dark-1) 0%, var(--color-blue-dark-3) 100%);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 15%;
  gap: 2rem;
  margin: 4.8rem 0;
  position: relative;
  overflow: hidden; }
  .section-relocation__background-icon {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .section-relocation__background-icon--icon {
      color: var(--color-blue-light-2);
      font-size: 45rem; }
  .section-relocation__title {
    color: #fff;
    z-index: 2; }
  .section-relocation__btn {
    color: #fff; }

.section-contact-us {
  max-width: 75vw;
  margin: 0 auto;
  padding: 4.8rem 0; }
  .section-contact-us__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(to right bottom, var(--color-green-tert-1), var(--color-green-tert-2));
    border-radius: 4px;
    overflow: hidden; }
    .section-contact-us__contact--map {
      width: 100%;
      height: 100%;
      background-image: url(../Media/san-antonio-deal-map.jpg);
      background-size: cover;
      background-position: center center; }
    .section-contact-us__contact--form {
      padding: 6rem 9.6rem; }
      .section-contact-us__contact--form__header--light {
        color: #fff;
        font-weight: 300; }
      .section-contact-us__contact--form__header {
        color: #fff;
        font-weight: 600; }
      .section-contact-us__contact--form__text {
        color: #fff; }
