.btn {
  display: inline-block;
  padding: 1.2rem 3.6rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;

  &--form {
    border: none;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #e3f4eb;
    color: var(--color-green-tert-1);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background-color: #fff;
      transform: translateY(-2px);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(238, 238, 238, 0.7);
      box-shadow: none;
      transform: translateY(0);
    }
  }

  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.2rem 3.6rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
  }

  &--primary {
    background-color: var(--color-green-tert-2);
    color: #fff;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-green-tert-3);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-green-tert-2);
      transform: translateY(0);
      box-shadow: none;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 2px solid var(--color-blue-dark-1);
    color: var(--color-blue-dark-1);
    transition: all 0.2s;

    &:hover {
      background-color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transform: translateY(-2px);
    }

    &:active {
      background-color: transparent;
      transform: translateY(0);
      box-shadow: none;
    }
  }

  &--white {
    background-color: #fff;
    color: var(--color-blue-dark-1);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      cursor: pointer;
    }

    &:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }

  &--next {
    background-color: #c7e8d8;
    color: var(--color-green-tert-1);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }

  &--book {
    padding: 1.5rem 0;
    background-color: #e3f4eb;
    align-self: flex-end;
    color: var(--color-green-tert-1);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }
}

.gs__popup--form__step--intro-content__btn {
  position: absolute;
  right: 10rem;
  bottom: 10%;
}

.cta-btn-box {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.iForm-btn-group {
  display: flex;
  justify-content: space-between;
}
