@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&display=swap);

:root {
  --font: "Inter", sans-serif;
  // *** COLORS - GRAY
  --color-gray-1: #696969;
  --color-gray-2: #7d7d7d;
  --color-gray-3: #9e9e9e;
  --color-gray-4: #bdbdbd;
  --color-gray-5: #eee;

  // *** COLORS - PRIMARY
  --color-blue-dark-1: #012a4a;
  --color-blue-dark-2: #013a63;
  --color-blue-dark-3: #01497c;

  // *** COLORS - SECONDARY
  --color-blue-light-1: #61a5c2;
  --color-blue-light-2: #89c2d9;
  --color-blue-light-3: #a9d6e5;

  // *** COLORS - TERTIARY
  --color-green-tert-1: #2d6a4f;
  --color-green-tert-2: #40916c;
  --color-green-tert-3: #74c69d;

  // *** COLORS - CONTRAST
  --color-contrast-yellow: #ffe66d;
  --color-contrast-orange: #fe7f2d;
  --color-contrast-red: #c81d25;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
}

body {
  line-height: 1.4;
  font-family: var(--font);
  font-weight: 400;
  color: var(--color-blue-dark-1);
  overflow-x: hidden;
  font-size: 1.6rem;
  position: relative;
  scroll-behavior: smooth;
}
