.mg-btm-lg {
  margin-bottom: 9.6rem !important;
}

.mg-btm-med {
  margin-bottom: 4.8rem !important;
}

.mg-btm-sm {
  margin-bottom: 2.4rem !important;
}

.mg-btm-xsm {
  margin-bottom: 1.2rem !important;
}

.mg-top-sm {
  margin-top: 2.4rem !important;
}

.mg-top-lg {
  margin-top: 7.2rem !important;
}

.mg-left-auto {
  margin-left: auto !important;
}

.mg-btm-neg-sm {
  margin-bottom: -2.4rem;
}

.pd-top-sm {
  padding-top: 2.4rem;
}

.centered {
  text-align: center !important;
}

.w-50 {
  max-width: 50vw !important;
}

.tl-right {
  text-align: right !important;
}

.dp-block {
  display: block !important;
}

.vert-center {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.hidden {
  display: none !important;
}

// **** FORM STEP 'ACTIVE' UTILITY CLASS
.active {
  display: block !important;
}
